<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="pl.edu.uj.synchrotron.restfuljive"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SortedList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SetHostActivity"
            android:label="@string/title_activity_set_host"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
        </activity>
        <activity
            android:name=".PropertiesActivity"
            android:label="@string/title_activity_properties"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".AttributesActivity"
            android:label="@string/title_activity_attributes"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".DevicePanelActivity"
            android:label="@string/title_activity_device_panel"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".PlotActivity"
            android:label="@string/title_activity_plot">
        </activity>
        <activity
            android:name=".ImagePlotActivity"
            android:label="@string/title_activity_image_plot">
        </activity>
        <activity
            android:name=".ATKPanelActivity"
            android:label="@string/title_activity_atkpanel"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SetDeviceActivity"
            android:label="@string/title_activity_set_device"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
        </activity>
    </application>

</manifest>
